.oz-section {
  display: flex;
  padding: 20px var(--_vc---paddings--padding-l);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--_vc---colours--transparent);
}

.oz-section:where(.w-variant-827e2d76-d802-ba73-a7ab-ccb0d2c1a92c) {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.oz-section:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
  background-color: var(--_vc---colours--black);
}

@media screen and (max-width: 991px) {
  .oz-section {
    width: 100%;
    max-width: 100%;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .oz-section {
    padding: 20px var(--_vc---paddings--padding-s) 0px;
    background-color: var(--_vc---colours--transparent);
  }
}

@media screen and (max-width: 767px) {
  .oz-section:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
    background-color: var(--_vc---colours--black);
  }
}

@media screen and (max-width: 479px) {
  .oz-section {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-section.is--tan {
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--_vc---colours--club-paper);
  }
}

.is--tan {
  background-color: var(--_vc---colours--club-paper);
}

@media screen and (max-width: 767px) {
  .is--tan {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.oz-section.is--green {
  background-color: var(--_vc---colours--deep-green);
}

@media screen and (max-width: 479px) {
  .oz-section.is--green {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.oz-section.is--dark {
  background-color: var(--_vc---colours--black);
}

.oz-section.is--dark.is--below-hero {
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: var(--_vc---colours--black);
}

@media screen and (max-width: 767px) {
  .oz-section.is--dark.is--below-hero {
    height: auto;
    min-height: 400px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-section.is--dark.is--below-hero:where(.w-variant-82d96280-67a1-7201-6394-3b11ee38cf7d) {
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .oz-section.is--dark.is--below-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.oz-section.default-dark {
  background-color: var(--_vc---colours--black);
}

.oz-section.default-dark.is--below-slider {
  position: relative;

  display: flex;
  overflow: hidden;
  min-height: 40vh;
  padding-top: 40px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .oz-section.default-dark.is--below-slider {
    padding-right: var(--_vc---paddings--padding-m);
    padding-left: var(--_vc---paddings--padding-m);
  }
}

.oz-section.is--cta {
  padding-top: 140px;
  padding-bottom: 140px;
}

@media screen and (max-width: 991px) {
  .oz-section.is--cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .oz-section.is--cta {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.oz-section.is--no-hero {
  padding-top: 100px;
}

.oz-section.is--below-header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.oz-container {
  display: flex;
  width: 100%;
  max-width: var(--_vc---widths--content);
  margin-right: 0px;
  margin-left: 0px;
  padding-right: var(--_vc---paddings--padding-m);
  padding-left: var(--_vc---paddings--padding-m);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
}

@media screen and (max-width: 991px) {
  .oz-container {
    display: flex;
    overflow: visible;
    max-width: var(--_vc---widths--content);
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .oz-container {
    width: 100%;
    text-align: center;
  }
}

.oz-container.is--w-50 {
  width: 50%;
  max-width: var(--_vc---widths--content);
}

@media screen and (max-width: 991px) {
  .oz-container.is--w-50 {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--w-50 {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--w-50 {
    margin-right: auto;
    margin-left: auto;
  }
}

.oz-container.is--cta-divider {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;

  height: auto;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
}

.oz-container.is--member-benefits {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .oz-container.is--member-benefits {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--member-benefits {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
}

.oz-container.is--w-80 {
  width: 80%;
  max-width: var(--_vc---widths--content);
}

@media screen and (max-width: 991px) {
  .oz-container.is--w-80 {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--w-80 {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--w-80 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--cta {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--cta {
    width: 100%;
  }
}

.oz-container.is--recip {
  width: 100%;
}

.oz-container.is--left-aligned {
  justify-content: flex-start;
  align-items: flex-start;
}

.oz-container.is--boosted {
  margin-top: -400px;
}

@media screen and (max-width: 991px) {
  .oz-container.is--boosted {
    margin-top: -55%;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--boosted {
    margin-top: -50%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--boosted {
    margin-top: 0%;
  }
}

.oz-container.is--boosted.is--antarctica {
  margin-top: -285px;
}

.engagement-wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: var(--_vc---paddings--padding-s) var(--_vc---paddings--padding-l);
  justify-content: space-between;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 20.00%, 0.41);
  border-radius: 5px;

  background-color: var(--_vc---colours--white);

  filter: none;
}

.engagement-wrapper:where(.w-variant-827e2d76-d802-ba73-a7ab-ccb0d2c1a92c) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
}

.engagement-wrapper:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
  padding-top: var(--_vc---paddings--padding-s);
  padding-bottom: var(--_vc---paddings--padding-s);
  border-color: var(--_vc---colours--readable-black);
  background-color: var(--_vc---colours--black);
}

@media screen and (max-width: 991px) {
  .engagement-wrapper {
    padding-top: var(--_vc---paddings--verti-pad-m);
    padding-bottom: var(--_vc---paddings--verti-pad-m);
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  .engagement-wrapper {
    padding: var(--_vc---paddings--padding-l) var(--_vc---paddings--padding-s);
    justify-content: center;
  }
}

.engagement-wrapper.default-dark-3 {
  padding-top: var(--_vc---paddings--verti-pad-m);
  padding-bottom: var(--_vc---paddings--verti-pad-m);
  border-color: var(--_vc---colours--readable-black);
  background-color: var(--_vc---colours--black);
}

@media screen and (max-width: 991px) {
  .engagement-wrapper.default-dark-3 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.engagement-content {
  display: flex;
  width: 70%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

@media screen and (max-width: 767px) {
  .engagement-content {
    width: 95%;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
  }
}

@media screen and (max-width: 479px) {
  .engagement-content {
    justify-content: flex-start;
    align-items: stretch;
  }
}

.image-43 {
  display: none;
}

@media screen and (max-width: 767px) {
  .image-43 {
    display: block;
    width: 90px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .image-43:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
    filter: invert(100%);
  }
}

@media screen and (max-width: 479px) {
  .image-43 {
    margin-right: auto;
    margin-left: auto;
  }
}

.aligner {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  grid-column-gap: var(--_vc---content-gap);
  grid-row-gap: var(--_vc---content-gap);

  text-align: right;
}

@media screen and (max-width: 991px) {
  .aligner {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .aligner {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .aligner {
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    text-align: left;
  }
}

.aligner.is--flipped {
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.aligner.is--cta {
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .aligner.is--cta {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
  }
}

.aligner.dark-36 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 767px) {
  .aligner.dark-36.is--center-aligned {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.div-block-87 {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.image-39 {
  position: static;
  left: auto;
  top: auto;
  right: -80px;
  bottom: 0%;

  max-width: 300px;
  margin-bottom: 0px;

  opacity: 1;
}

.image-39:where(.w-variant-827e2d76-d802-ba73-a7ab-ccb0d2c1a92c) {
  position: relative;
  display: block;
  transform: perspective(477px);
  transform-origin: 50% 0%;
}

.image-39:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
  max-width: 300px;
  opacity: 100;
}

@media screen and (max-width: 991px) {
  .image-39 {
    bottom: 10%;
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .image-39 {
    display: none;
  }
}