.oz-header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;

  display: flex;

  mix-blend-mode: difference;
}

.oz-header.is--notice {
  z-index: 97;
  mix-blend-mode: normal;
}

.header-bar-notice {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: 55;

  display: flex;
  margin-bottom: 0px;
  padding: var(--_vc---paddings--padding-m) 0em var(--_vc---paddings--padding-m) var(--_vc---paddings--padding-m);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--_vc---colours--transparent);

  pointer-events: auto;

  background-clip: border-box;
  -webkit-text-fill-color: inherit;

  cursor: auto;
  mix-blend-mode: difference;
}

@media screen and (max-width: 767px) {
  .header-bar-notice {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .header-bar-notice {
    margin-bottom: auto;
    padding-right: var(--vc-verti-pad-s\<deleted\|variable-e6e54291-673f-d0e7-8566-d0d63a740e60\>);
    padding-left: var(--vc-verti-pad-s\<deleted\|variable-e6e54291-673f-d0e7-8566-d0d63a740e60\>);
  }
}

.header-bar-notice.is--modal {
  z-index: 98;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-bar-notice.is--modal {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
}

.header-bar-notice.is--notice {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  height: 110px;
  justify-content: center;
  align-items: center;

  mix-blend-mode: normal;
}

.header-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;

  mix-blend-mode: normal;
}

.header-emblem {
  display: flex;
  width: 25%;
  justify-content: flex-start;
  align-items: center;
  mix-blend-mode: difference;
}

@media screen and (max-width: 767px) {
  .header-emblem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.header-emblem.is--notice {
  display: none;
}

.header-logo {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 9;

  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease;

  background-color: transparent !important;
}

.header-logo:hover {
  transform: translate(0px, 7px);
}

.header-logo:global(.w--current) {
  position: static;
  margin-bottom: 0px;
  mix-blend-mode: normal;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .header-logo {
    mix-blend-mode: difference;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: block;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header-logo:global(.w--current) {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .header-logo {
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
}

.vc-logo__bg {
  width: 75px;
  height: 75px;
  margin-top: 0px;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);
  background-image: url("https://cdn.prod.website-files.com/6557bb5d53809623bd8abf36/67240f4792114e10ee4ef58b_inv_VC_Logo.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  mix-blend-mode: normal;
}

@media screen and (max-width: 479px) {
  .vc-logo__bg {
    width: 50px;
    height: 50px;
  }
}

.text-block-33 {
  display: flex;
  font-family: 'VC Didot HTF';
  color: var(--_vc---colours--white);
  font-size: 1.2rem;
}

@media screen and (max-width: 991px) {
  .text-block-33 {
    display: none;
  }
}

.text-block-33.is--tvc {
  display: none;
}

.header-notice {
  position: static;

  display: none;
  width: 70%;
  height: 50px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid var(--_vc---colours--royal-purple);
  border-radius: 3px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  backdrop-filter: blur(5px);
}

@media screen and (max-width: 767px) {
  .header-notice {
    display: none;
  }
}

.header-notice.is--notice-on {
  display: none;
  margin-right: auto;
  margin-left: auto;

  border-color: var(--_vc---colours--black);

  background-color: hsla(0, 0.00%, 5.10%, 0.51);

  box-shadow: inset 0 2px 16px 0 rgba(0,0,0,0.2);

  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-notice.is--notice-on {
    display: none;
    padding: 1em;
  }
}

.oz-paragraph {
  margin-bottom: 0px;

  font-family: 'VC Gotham SSM';
  color: var(--_vc---colours--black);
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 300;
}

.oz-paragraph:where(.w-variant-d640f6fd-d9c9-936a-7f79-15274d74749c) {
  color: var(--_vc---colours--white);
}

.oz-paragraph:where(.w-variant-36c39411-c5db-7269-3c65-cd92710de746) {
  color: var(--_vc---colours--readable-gray);
}

@media screen and (max-width: 767px) {
  .oz-paragraph {
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .oz-paragraph {
    display: flex;
  }
}

.oz-paragraph.is--white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .oz-paragraph.is--white {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .oz-paragraph.is--white {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .oz-paragraph.is--white.is--centered {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .oz-paragraph.is--white.is--centered {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-paragraph.is--white.is--m-centered {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .oz-paragraph.is--white.is--recip-notice {
    text-align: center;
  }
}

.oz-paragraph.is--white.is--emphasized {
  font-size: 1.2rem;
  font-weight: 700;
}

.oz-paragraph.is--centered {
  text-align: center;
}

.oz-paragraph.is--centered.is--larger {
  font-size: 1rem;
  line-height: 1.5em;
  text-align: center;
}

.oz-paragraph.is--smaller-type {
  color: var(--_vc---colours--white);
  font-size: 0.7rem;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .oz-paragraph.is--smaller-type {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-paragraph.is--smaller-type {
    width: auto;
    font-size: 0.5rem;
    text-align: center;
  }
}

.oz-paragraph.default-gray {
  color: var(--_vc---colours--readable-gray);
}

@media screen and (max-width: 767px) {
  .oz-paragraph.default-gray {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .oz-paragraph.is--recip-link {
    font-size: 0.75rem;
  }
}

.header-nav-toggle {
  position: static;
  display: block;
  justify-content: center;
  align-items: center;
  align-self: auto;
}

.header-nav-toggle.is--nav-closed {
  position: static;
  top: 0px;
  right: 0px;
  z-index: 20;

  display: flex;
  width: 25%;
  padding-right: 0px;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.header-nav-toggle.is--nav-closed.is--notice {
  display: none;
}

.nav-toggle-wrapper {
  display: flex;
  align-items: center;
  transition: margin-right 200ms ease;
  cursor: pointer;
}

.nav-toggle-wrapper:hover {
  margin-right: -30px;
}

@media screen and (max-width: 767px) {
  .nav-toggle-wrapper {
    margin-right: 0px;
  }
}

@media screen and (max-width: 479px) {
  .nav-toggle-wrapper {
    margin-right: 0px;
  }
}

.header-nav-tag {
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;

  font-family: 'VC Didot HTF';
  color: hsla(0, 0.00%, 100.00%, 1.00);
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .header-nav-tag.text-block-33 {
    display: none;
  }
}

.header-burger {
  position: static;
  top: 23px;
  right: 48px;
  z-index: 99;

  display: flex;
  width: 48px;
  height: 48px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;

  border-radius: 24px;

  background-color: hsla(0, 0.00%, 0.00%, 0.50);
}

@media screen and (max-width: 991px) {
  .header-burger {
    display: flex;
    margin-left: 4px;
  }
}

@media screen and (max-width: 767px) {
  .header-burger {
    right: 24px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .header-burger {
    position: absolute;
    top: 0px;
    right: -30px;
  }
}

.header-burger.vc_nav--sticky-right {
  position: static;
}

.header-burger.vc_nav--sticky-right.vc_nav--open {
  position: relative;
  top: 0em;
  right: 0em;
  z-index: 100;

  width: 90px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;

  background-color: transparent;
  background-image: url("https://cdn.prod.website-files.com/6557bb5d53809623bd8abf36/6557bb5d53809623bd8abf8a_icon-burger.svg");
  background-position: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;

  cursor: pointer;
  object-fit: fill;
}

@media screen and (max-width: 479px) {
  .header-burger.vc_nav--sticky-right.vc_nav--open {
    width: 40px;
    height: 40px;
  }
}

.header-burger.vc_modal--sticky-right {
  position: static;
}

.header-burger.vc_modal--sticky-right.vc_modal--close {
  position: absolute;
  top: 1em;
  right: 2em;
  z-index: 100;

  display: block;
  padding-top: 0px;
  padding-bottom: 0px;

  border: 1px solid black;

  background-color: hsla(0, 0.00%, 0.00%, 0.50);
  background-image: url("https://cdn.prod.website-files.com/6557bb5d53809623bd8abf36/6557bb5d53809623bd8abf8c_icon-close.svg");
  background-position: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;

  filter: invert(100%);

  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
}