.oz-section {
  display: flex;
  padding: 20px var(--_vc---paddings--padding-l);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--_vc---colours--transparent);
}

.oz-section:where(.w-variant-827e2d76-d802-ba73-a7ab-ccb0d2c1a92c) {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.oz-section:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
  background-color: var(--_vc---colours--black);
}

@media screen and (max-width: 991px) {
  .oz-section {
    width: 100%;
    max-width: 100%;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .oz-section {
    padding: 20px var(--_vc---paddings--padding-s) 0px;
    background-color: var(--_vc---colours--transparent);
  }
}

@media screen and (max-width: 767px) {
  .oz-section:where(.w-variant-790baee5-1017-a4ec-2b7f-9e7ba5a8ed5e) {
    background-color: var(--_vc---colours--black);
  }
}

@media screen and (max-width: 479px) {
  .oz-section {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-section.is--tan {
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--_vc---colours--club-paper);
  }
}

.is--tan {
  background-color: var(--_vc---colours--club-paper);
}

@media screen and (max-width: 767px) {
  .is--tan {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.oz-section.is--green {
  background-color: var(--_vc---colours--deep-green);
}

@media screen and (max-width: 479px) {
  .oz-section.is--green {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.oz-section.is--dark {
  background-color: var(--_vc---colours--black);
}

.oz-section.is--dark.is--below-hero {
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: var(--_vc---colours--black);
}

@media screen and (max-width: 767px) {
  .oz-section.is--dark.is--below-hero {
    height: auto;
    min-height: 400px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-section.is--dark.is--below-hero:where(.w-variant-82d96280-67a1-7201-6394-3b11ee38cf7d) {
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .oz-section.is--dark.is--below-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.oz-section.default-dark {
  background-color: var(--_vc---colours--black);
}

.oz-section.default-dark.is--below-slider {
  position: relative;

  display: flex;
  overflow: hidden;
  min-height: 40vh;
  padding-top: 40px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .oz-section.default-dark.is--below-slider {
    padding-right: var(--_vc---paddings--padding-m);
    padding-left: var(--_vc---paddings--padding-m);
  }
}

.oz-section.is--cta {
  padding-top: 140px;
  padding-bottom: 140px;
}

@media screen and (max-width: 991px) {
  .oz-section.is--cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .oz-section.is--cta {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.oz-section.is--no-hero {
  padding-top: 100px;
}

.oz-section.is--below-header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.oz-container {
  display: flex;
  width: 100%;
  max-width: var(--_vc---widths--content);
  margin-right: 0px;
  margin-left: 0px;
  padding-right: var(--_vc---paddings--padding-m);
  padding-left: var(--_vc---paddings--padding-m);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
}

@media screen and (max-width: 991px) {
  .oz-container {
    display: flex;
    overflow: visible;
    max-width: var(--_vc---widths--content);
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .oz-container {
    width: 100%;
    text-align: center;
  }
}

.oz-container.is--w-50 {
  width: 50%;
  max-width: var(--_vc---widths--content);
}

@media screen and (max-width: 991px) {
  .oz-container.is--w-50 {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--w-50 {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--w-50 {
    margin-right: auto;
    margin-left: auto;
  }
}

.oz-container.is--cta-divider {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;

  height: auto;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
}

.oz-container.is--member-benefits {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .oz-container.is--member-benefits {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--member-benefits {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
}

.oz-container.is--w-80 {
  width: 80%;
  max-width: var(--_vc---widths--content);
}

@media screen and (max-width: 991px) {
  .oz-container.is--w-80 {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--w-80 {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--w-80 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--cta {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--cta {
    width: 100%;
  }
}

.oz-container.is--recip {
  width: 100%;
}

.oz-container.is--left-aligned {
  justify-content: flex-start;
  align-items: flex-start;
}

.oz-container.is--boosted {
  margin-top: -400px;
}

@media screen and (max-width: 991px) {
  .oz-container.is--boosted {
    margin-top: -55%;
  }
}

@media screen and (max-width: 767px) {
  .oz-container.is--boosted {
    margin-top: -50%;
  }
}

@media screen and (max-width: 479px) {
  .oz-container.is--boosted {
    margin-top: 0%;
  }
}

.oz-container.is--boosted.is--antarctica {
  margin-top: -285px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 500;
  letter-spacing: 2px;
  text-indent: 0px;
  text-transform: capitalize;
  column-count: auto;
}

.heading:where(.w-variant-a87e8149-7686-88ea-38ad-08215b64b50e) {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 0.00);
  text-shadow: 4px 0 20px hsla(0, 0.00%, 0.00%, 0.58);
}

.heading:where(.w-variant-17c744b7-3962-73cc-b398-11d33ff6619a) {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 0.00);
  text-shadow: 4px 0 20px hsla(0, 0.00%, 0.00%, 0.58);
}

.heading:where(.w-variant-60d9df4a-0288-eb97-71c3-7b285bed61d5) {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 0.00);
  text-shadow: 4px 0 20px hsla(0, 0.00%, 0.00%, 0.58);
}

.heading:where(.w-variant-a421c027-6b2b-d243-8add-69bd93787265) {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 0.00);
  text-shadow: 4px 0 20px hsla(0, 0.00%, 0.00%, 0.58);
}

.heading:where(.w-variant-fbd29cd3-f5f3-ec45-f1fe-9a716f85afd7) {
  font-family: 'VC Mencken Narrow';
  color: var(--_vc---colours--deep-green);
}

.heading:where(.w-variant-0582d3ef-c4bb-6ebe-24b0-7d79113529de) {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 0.00);
  text-shadow: 4px 0 20px hsla(0, 0.00%, 0.00%, 0.58);
}

@media screen and (max-width: 767px) {
  .heading {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.heading.is--center-aligned {
  text-align: center;
}

.menu-buttons {
  display: grid;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .menu-buttons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .menu-buttons {
    grid-template-columns: 1fr;
  }
}

.oz-button-wrap {
  z-index: 9;

  display: flex;

  box-sizing: border-box;

  width: auto;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  aspect-ratio: auto;

  transition: all 200ms cubic-bezier(.445, .05, .55, .95);

  cursor: pointer;
  mix-blend-mode: normal;
}

@media screen and (min-width: 1920px) {
  .oz-button-wrap {
    position: relative;
    z-index: 9;
  }
}

.oz-button-wrap:where(.w-variant-57ed568c-b5f5-ffc6-f487-8979c5f41bd8) {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  cursor: pointer;
  width: fit-content;
}

.oz-button-wrap:where(.w-variant-3bf66560-a14f-0fa5-44fc-5191e3b976fc) {
  border-radius: 5px;
  background-color: var(--_vc---colours--transparent);
}

.oz-button-wrap:where(.w-variant-9ad49e05-23ed-ded2-cb33-4328621813aa) {
  background-color: var(--_vc---colours--transparent);
}

.oz-button-wrap:where(.w-variant-6c6f4365-d4f1-118a-4e0f-45f129e5f244) {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  cursor: pointer;
  width: fit-content;
}

.oz-button-wrap:where(.w-variant-74caa6e0-2f1c-03d3-1818-a3cfe71ae2e5) {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  cursor: pointer;
  width: fit-content;
}

.oz-button-wrap:where(.w-variant-8c06bc4a-f343-da32-4bb9-69d300d1350c) {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  cursor: pointer;
  width: fit-content;
}

.oz-button-wrap:where(.w-variant-883417af-42a0-8574-3be3-f6ba23e5fcab) {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  transition-property: none;
  cursor: pointer;
  width: fit-content;
}

.oz-button-wrap:where(.w-variant-cb0a503e-6bcc-1651-ce14-d0a2f65aaf23) {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  transition-property: none;

  text-transform: none;

  cursor: pointer;

  width: fit-content;
}

.oz-button-wrap:where(.w-variant-8b107fed-fad8-7e8f-b7b6-1c6d5cb5fee9) {
  width: fit-content;
}

.oz-button-wrap:where(.w-variant-3820e6d9-d068-8d41-dfed-6ab41b140203) {
  border-radius: 5px;
  background-color: var(--_vc---colours--transparent);
}

.oz-button-wrap:hover:where(.w-variant-49214b88-0f63-9366-c8a1-32c4cca66094) {
  filter: invert(0%);
}

@media screen and (max-width: 991px) {
  .oz-button-wrap:where(.w-variant-3820e6d9-d068-8d41-dfed-6ab41b140203) {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .oz-button-wrap {
    width: 100%;
  }
}

.oz-button-wrap.wired-dark {
  border-radius: 5px;
  background-color: var(--_vc---colours--transparent);
}

.oz-button-wrap.wired-dark-fw {
  border-radius: 5px;
  background-color: var(--_vc---colours--transparent);
}

.oz-button-wrap.wired-dark-4 {
  border-radius: 5px;
  background-color: var(--_vc---colours--transparent);
}

@media screen and (max-width: 479px) {
  .oz-button-wrap.wired-dark-4.is--recip {
    align-items: center;
  }
}

.oz-button {
  z-index: 9;

  display: flex;
  width: fit-content;
  max-width: 100%;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: hsla(0, 0.00%, 5.10%, 1.00);

  filter: brightness(100%);
  backdrop-filter: blur(3px);

  transition-property: opacity, filter, padding, border-color, background-color, color;
  transition-duration: 200ms, 275ms, 300ms, 275ms, 275ms, 200ms;
  transition-timing-function: ease, cubic-bezier(.445, .05, .55, .95), cubic-bezier(.445, .05, .55, .95), cubic-bezier(.445, .05, .55, .95), cubic-bezier(.445, .05, .55, .95), cubic-bezier(.445, .05, .55, .95);

  font-family: 'VC Acumin Pro';
  color: var(--_vc---colours--club-paper);
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;

  min-width: fit-content;
}

@media screen and (min-width: 1920px) {
  .oz-button {
    position: relative;
    z-index: 9;
  }
}

.oz-button:where(.w-variant-8b107fed-fad8-7e8f-b7b6-1c6d5cb5fee9) {
  padding: 18px 35px 14px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(42.857142857142925, 41.18%, 96.67%, 0.47);

  background-color: var(--_vc---colours--transparent);

  color: hsla(42.857142857142925, 41.18%, 96.67%, 0.69);
}

.oz-button:where(.w-variant-57ed568c-b5f5-ffc6-f487-8979c5f41bd8) {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;

  border-style: none;

  background-color: var(--_vc---colours--transparent);

  filter: none;
  backdrop-filter: none;

  color: var(--_vc---colours--readable-black);
  font-weight: 600;
}

.oz-button:where(.w-variant-2574fec6-095e-05d8-8f96-2044703940cd) {
  background-color: var(--_vc---colours--deep-green);
}

.oz-button:where(.w-variant-4b9100f0-2d10-a35a-9da4-bb24735f9385) {
  background-color: var(--_vc---colours--pewter-green);
  color: var(--_vc---colours--readable-black);
}

.oz-button:where(.w-variant-3bf66560-a14f-0fa5-44fc-5191e3b976fc) {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 5.10%, 0.51);
  background-color: var(--_vc---colours--transparent);
  color: #333;
}

.oz-button:where(.w-variant-9ad49e05-23ed-ded2-cb33-4328621813aa) {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.45);
  background-color: var(--_vc---colours--transparent);
  color: hsla(0, 0.00%, 100.00%, 0.78);
}

.oz-button:where(.w-variant-6c6f4365-d4f1-118a-4e0f-45f129e5f244) {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: flex-start;

  border-style: none;

  background-color: var(--_vc---colours--transparent);

  filter: none;
  backdrop-filter: none;

  color: var(--_vc---colours--readable-gray);
  font-weight: 600;
}

.oz-button:where(.w-variant-74caa6e0-2f1c-03d3-1818-a3cfe71ae2e5) {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;

  border-style: none;

  background-color: var(--_vc---colours--transparent);

  filter: none;
  backdrop-filter: none;

  color: var(--_vc---colours--readable-black);
  font-weight: 600;
}

.oz-button:where(.w-variant-49214b88-0f63-9366-c8a1-32c4cca66094) {
  background-color: var(--_vc---colours--white);
  color: var(--_vc---colours--readable-black);
}

.oz-button:where(.w-variant-8c06bc4a-f343-da32-4bb9-69d300d1350c) {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;

  border-style: none;

  background-color: var(--_vc---colours--transparent);

  filter: none;
  backdrop-filter: none;

  color: var(--_vc---colours--readable-gray);
  font-weight: 600;
}

.oz-button:where(.w-variant-883417af-42a0-8574-3be3-f6ba23e5fcab) {
  width: 100%;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;

  border-style: none;

  background-color: var(--_vc---colours--transparent);

  filter: none;
  backdrop-filter: none;

  font-family: 'VC Gotham SSM';
  color: var(--_vc---colours--readable-gray);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.oz-button:where(.w-variant-cb0a503e-6bcc-1651-ce14-d0a2f65aaf23) {
  display: block;
  width: 100%;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;

  border-style: none;

  background-color: var(--_vc---colours--transparent);

  filter: none;
  backdrop-filter: none;

  font-family: 'VC Gotham SSM';
  color: var(--_vc---colours--white);
  font-size: 0.8rem;
  line-height: 0.8em;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.oz-button:where(.w-variant-3820e6d9-d068-8d41-dfed-6ab41b140203) {
  width: auto;
  border: 1px solid var(--_vc---colours--readable-gray);
  background-color: var(--_vc---colours--transparent);
  color: #333;
}

.oz-button:hover {
  border-color: hsla(10.909090909091008, 35.48%, 93.92%, 0.65);

  background-color: var(--_vc---colours--readable-black);

  filter: brightness(120%);
  backdrop-filter: blur(7px);

  color: var(--_vc---colours--white);
}

.oz-button:hover:where(.w-variant-8b107fed-fad8-7e8f-b7b6-1c6d5cb5fee9) {
  background-color: var(--_vc---colours--transparent);
  filter: brightness(120%);
  color: var(--_vc---colours--club-paper);
}

.oz-button:hover:where(.w-variant-57ed568c-b5f5-ffc6-f487-8979c5f41bd8) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
  backdrop-filter: none;
  color: var(--_vc---colours--black);
}

.oz-button:hover:where(.w-variant-2574fec6-095e-05d8-8f96-2044703940cd) {
  background-color: hsla(173.57142857142858, 38.04%, 7.87%, 1.00);
}

.oz-button:hover:where(.w-variant-4b9100f0-2d10-a35a-9da4-bb24735f9385) {
  background-color: hsla(120, 9.30%, 60.26%, 1.00);
  filter: brightness(100%);
  color: var(--_vc---colours--club-paper);
}

.oz-button:hover:where(.w-variant-3bf66560-a14f-0fa5-44fc-5191e3b976fc) {
  border-color: var(--_vc---colours--readable-black);
  background-color: var(--_vc---colours--readable-black);
  filter: brightness(100%);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.oz-button:hover:where(.w-variant-9ad49e05-23ed-ded2-cb33-4328621813aa) {
  border-color: hsla(10.909090909091008, 0.00%, 100.00%, 1.00);
  background-color: var(--_vc---colours--transparent);
  filter: brightness(135%);
}

.oz-button:hover:where(.w-variant-6c6f4365-d4f1-118a-4e0f-45f129e5f244) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
  backdrop-filter: none;
  color: var(--_vc---colours--white);
}

.oz-button:hover:where(.w-variant-74caa6e0-2f1c-03d3-1818-a3cfe71ae2e5) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
  backdrop-filter: none;
  color: var(--_vc---colours--black);
}

.oz-button:hover:where(.w-variant-8c06bc4a-f343-da32-4bb9-69d300d1350c) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
  backdrop-filter: none;
  color: var(--_vc---colours--white);
}

.oz-button:hover:where(.w-variant-883417af-42a0-8574-3be3-f6ba23e5fcab) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
  backdrop-filter: none;
  color: var(--_vc---colours--white);
}

.oz-button:hover:where(.w-variant-cb0a503e-6bcc-1651-ce14-d0a2f65aaf23) {
  border-style: none;
  background-color: var(--_vc---colours--transparent);
  backdrop-filter: none;
  color: var(--_vc---colours--readable-gray);
}

.oz-button:hover:where(.w-variant-3820e6d9-d068-8d41-dfed-6ab41b140203) {
  border-color: var(--_vc---colours--readable-black);
  background-color: var(--_vc---colours--readable-black);
  filter: brightness(100%);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .oz-button {
    width: 100%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .oz-button:where(.w-variant-883417af-42a0-8574-3be3-f6ba23e5fcab) {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .oz-button:where(.w-variant-cb0a503e-6bcc-1651-ce14-d0a2f65aaf23) {
    font-size: 1rem;
    line-height: 1em;
  }
}

@media screen and (max-width: 479px) {
  .oz-button:where(.w-variant-8b107fed-fad8-7e8f-b7b6-1c6d5cb5fee9) {
    padding: 15px 20px 13px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .oz-button:where(.w-variant-cb0a503e-6bcc-1651-ce14-d0a2f65aaf23) {
    font-size: 1rem;
  }
}

.oz-button.wired-dark {
  border: 1px solid var(--_vc---colours--readable-gray);
  background-color: var(--_vc---colours--transparent);
  color: #333;
}

.oz-button.wired-dark:hover {
  border-color: var(--_vc---colours--readable-black);
  background-color: var(--_vc---colours--readable-black);
  filter: brightness(100%);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .oz-button.wired-dark {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 479px) {
  .oz-button.wired-dark {
    font-size: 1rem;
  }
}

.oz-button.wired-light {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.45);
  background-color: var(--_vc---colours--transparent);
  color: hsla(0, 0.00%, 100.00%, 0.78);
}

.oz-button.wired-light:hover {
  border-color: hsla(10.909090909091008, 0.00%, 100.00%, 1.00);
  background-color: var(--_vc---colours--transparent);
  filter: brightness(135%);
}

.oz-button.wired-light.is--full-width {
  width: 100%;
}

.oz-button.wired-light.is--full-width:global(.w--current) {
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.oz-button.wired-dark-fw-2 {
  width: auto;
  border: 1px solid var(--_vc---colours--readable-gray);
  background-color: var(--_vc---colours--transparent);
  color: #333;
  font-size: 0.9rem;
}

.oz-button.wired-dark-fw-2:hover {
  border-color: var(--_vc---colours--readable-black);
  background-color: var(--_vc---colours--readable-black);
  filter: brightness(100%);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.button-underline {
  width: 100%;
  height: 3px;
  background-image: none;
}

.button-underline._80 {
  display: none;
  width: 80%;
}

.button-underline._80:where(.w-variant-57ed568c-b5f5-ffc6-f487-8979c5f41bd8) {
  display: flex;
  height: 4px;
  background-image: linear-gradient(to bottom, var(--_vc---colours--royal-purple),var(--_vc---colours--royal-purple));
}

.button-underline._80:where(.w-variant-6c6f4365-d4f1-118a-4e0f-45f129e5f244) {
  display: flex;
  height: 4px;
  background-image: linear-gradient(to bottom, var(--_vc---colours--royal-purple),var(--_vc---colours--royal-purple));
}

.button-underline._80:where(.w-variant-74caa6e0-2f1c-03d3-1818-a3cfe71ae2e5) {
  display: flex;
  height: 4px;
  background-image: linear-gradient(to bottom, var(--_vc---colours--black),var(--_vc---colours--black));
}

.button-underline._80:where(.w-variant-8c06bc4a-f343-da32-4bb9-69d300d1350c) {
  display: flex;
  height: 4px;
  max-width: 100%;
  background-image: linear-gradient(to bottom, var(--_vc---colours--white),var(--_vc---colours--white));
}

.button-underline._80:where(.w-variant-883417af-42a0-8574-3be3-f6ba23e5fcab) {
  display: flex;
  width: 0px;
  height: 1px;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 58.98%, 0.41),hsla(0, 0.00%, 58.98%, 0.41));
}

.button-underline._80:where(.w-variant-cb0a503e-6bcc-1651-ce14-d0a2f65aaf23) {
  display: none;
  width: 0px;
  height: 1px;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 58.98%, 0.41),hsla(0, 0.00%, 58.98%, 0.41));
}

.oz-fleuron {
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .oz-fleuron {
    margin-top: 10px;
  }
}

.oz-fleuron.is--boosted {
  margin-top: 35px;
}

#w-node-fd4dcc53-83d4-346b-96ba-43de0ce07b1f-0ce07b12 {
}
#w-node-fd4dcc53-83d4-346b-96ba-43de0ce07b20-0ce07b12 {
}
@media screen and (max-width: 479px) {
  #w-node-fd4dcc53-83d4-346b-96ba-43de0ce07b1f-0ce07b12 {
  }
  #w-node-fd4dcc53-83d4-346b-96ba-43de0ce07b20-0ce07b12 {
  }
}